doctype html
html
    head
        title Gou Date
        meta(name='viewport', content='width=device-width, initial-scale=1.0, minimal-ui')
        link(rel='stylesheet', href='media/css/master.css')

    body
        .page
            .date-picker-widget
                .date-picker-container
                    .set-all
                        h4 I would like all deliveries on: 
                        label Wednesday
                            input(type='radio' name='setAll' value='weds')
                        label Friday
                            input(type='radio' name='setAll' value='fri')
                    each month in ['March', 'April', 'May']
                        .date-picker
                            .month(data-month=month.toLowerCase()) #{month} 2015
                            ul.days
                                li M
                                li T
                                li W
                                li T
                                li F
                                li S
                                li S
                            - var i = 1
                            - var days = ['mon', 'tues', 'weds', 'thu', 'fri', 'sat', 'sun'];
                            ul.dates
                                while i <= 28
                                    ul.week
                                        each day, index in days
                                            - var dayClass = (index === 2 || index === 4 ? 'delivery-day '+day : day)
                                            li(class=dayClass)= i++
                .legend
                    ul
                        li.delivery Delivery set
                        li.hold On hold
                        li.available Delivery available
                    .instructions Please remember to click save after you've made your changes
                a(class='submit') Save
        .console
        script(src='media/js/libs.js')
        script(src='media/js/script.js')