doctype html
html
    head
        title Gou Date
        meta(name='viewport', content='width=device-width, initial-scale=1.0, minimal-ui')
        link(rel='stylesheet', href='media/css/master.css')

    body
        .page
            .date-picker-widget
                .date-picker-container
                    .date-picker
                        .month April
                        ul.days
                            li M
                            li T
                            li W
                            li T
                            li F
                            li S
                            li S
                        - var i = 1
                        ul.dates
                            while i <= 31
                                li= i++
                .legend
                    ul
                        li.delivery Delivery
                        li.hold On hold
                        li.available Delivery available
                    .instructions Please remember to click save after you've made your changes
                button
        script(src='media/js/libs.js')
        script(src='media/js/script.js')