// Variables

// Colors
@background: burlywood;
@text-color: @black-70;

// fonts
@headings-font-weight: bold;

// Dimensions
@date-picker-indent: 12px;


// Styles

// Global

body {
    color: @text-color;
    font-family: @font-family-base;
    font-size: @font-size-base;
    line-height: @line-height-base;
}

a {
    color: @link-color;
    text-decoration: none;
    &:hover {
        color: @link-color-hover;
        text-decoration: underline;
    }
}

.page {
    .square(100%);
    max-width: 720px;
    padding: 20px;
    background-color: @background;
    .center-block();
}

.date-picker-widget {
    width: 100%;
    max-width: 700px;
    padding: @date-picker-indent;
    background-color: lighten(@background, 10%);
    .center-block();
    .clearfix();
    .legend {
        float: left;
        li {
            margin-right: 5px;
            &:before {
                content: "";
                .square(10px);
                display: inline-block;
                margin-right: 3px;
                border-radius: 5px;
            }
            &.delivery:before {
                background-color: @brand-success;
            }
            &.hold:before {
                background-color: @brand-danger;
            }
            &.available:before {
                background-color: @brand-info;
            }
        }
        .instructions {
            clear: both;
            margin-top: 4px;
        }
    }
    button {
        float: right;
    }
    li {
        display: inline-block;
    }
}



.date-picker {
    .square(200px);
    margin-bottom: @date-picker-indent;
    padding-top: @date-picker-indent;
    background-color: #fff;
    .month {
        font-weight: @headings-font-weight;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        margin: 0 @date-picker-indent;
        background-color: @brand-warning;
    }
    @blob-size: 23px; 
    .days,
    .dates {
        margin: 6px 0 0 8px;
        li {
            .square(@blob-size);
            text-align: center;
            font-size: @font-size-small;
        }
    }
    .dates li {
        @blob-padding: 4px;
        height: (@blob-size)-(@blob-padding);
        padding-top: @blob-padding;
        margin: 2px 0;
        cursor: pointer;
        background-color: #fff;
        border-radius: 15px;
        &:hover {
            background-color: @brand-info;
        }
    }
}